@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
  }

:root {
    --gray-color: rgb(243 244 246);
    --green-color: #596D48;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow: hidden;
}

input, label {
    display: block;
}

input:invalid {
    border-color: red;
}

input:focus {
    background-color: lightblue;
}

.header {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    min-width: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-detail {
    background-color: black;
    opacity: 0.6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse-bold;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    bottom:200px;
    padding: 15px;
}

img {
    width:100px;
}

.main {
    display: flex;
    flex-direction: column;
}


form {
    display: flex;
    gap: 50px;
    font-size: 11px;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.input-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div[class^="section-"] {
    padding:20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-1, .section-3 {
    background-color: var(--gray-color);
    flex:1;
}

.section-1 {
    justify-content: flex-end;
}

p {
    margin:0px;
    padding:0px;
    font-size: 20px;
}

.section-1 p {
    font-weight: bold;
}

.section-3 p {
    font-size: 14px;
}

.container {
    display: flex;
    height: 100vh;
}

button {
    color: white;
    padding: 10px 25px;
    background-color: var(--green-color);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    max-width: 200px;
}